.whatsAppButton {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 20px;
    background-color: #0df053;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsAppButton:hover {
    text-decoration: none;
}
.whatsAppButton img {
    height: 40px;
    width: 40px;
}